@{
    ViewData["Title"] = "About WPH";
}


@section FullWidthSection {
    <div class="full-bg">
        <h1>About WPH</h1>
        <p>
            This is my custom WPH about page. For official WPH about page -> 
            <a href="https://wphdigital.com/about" class="custom-link" target="_blank">Official WPH About Page</a>.
        </p>
    </div>
}

<div class="purpose">   
    <h1 class="what"> What do we do?</h1>
    <h3>  We deliver IT Consulting Services and Technology Services from innovation to execution  </h3>
    <p> 
        WPH Digital, we are a multi-disciplinary company that offers a range of IT consulting services and implementation expertise, including digital transformation, digital strategy, technology implementation, artificial intelligence, data analytics, cybersecurity and cloud computing.</p>
       <p> We work together with clients to leverage new technologies to reshape their business, invent new products or transform their organisation, in search of growth opportunities and cost optimization. We’ve got a deep understanding of both the technical and user complexities that come with large and regulated environments, integration of multiple systems, stakeholder and change management.
    </p>

</div>

<div class="glance">
    <h1 >AT A GLANCE</h1>
    <h3>_________________</h3>
</div>

<div class="floating-container">
    
    <div class="floating-box">
        <h2 class="boxHeader">28+ YEARS</h2>
        <p>Established since 1997 in Singapore, WPH is a full service digital solution delivery agency, with technology as our core.</p>
    </div>
    <div class="floating-box">
        <h2 class="boxHeader">1000+ PROJECTS</h2>
        <p>We work hard to understand the strategies and focuses of our clients so our work can be more relevant, aligned and long-term.​</p>
    </div>
    <div class="floating-box">
        <h2 class="boxHeader">4 OFFICES</h2>
        <p> We provide a full range of Digital Services and Technology Solutions to clients in Singapore, Malaysia, Philippines, and Thailand. </p>
    </div>
</div>

<div class="glance">
    <h1>PARTNERS & ALLIANCES</h1>
    <h5 class="boxHeader">TO INNOVATE. WE COLLABORATE</h5>
    <div class="glanceBody">   
        <p>We partner with market leading technology partners to deliver the best industry solutions for our customers.</p>
        <p> We know the market and the latest technologies. Our established strategic relationships with the variety of broad enterprise technologies help ensure we are able to continue to offer a greater breadth and depth of services, enrich our own capabilities, and add value to the strategies we develop for our clients.</p>
    </div>
    
</div>

<div class="floating-container">
    <div class="floating-box">
        <h2 class="boxHeader"><a href="https://www.microsoft.com/en-ph">MICROSOFT</a></h2>
        <img class="logo" src="@Url.Content("~/images/microsoft.png")" alt="Microsoft Logo" />
    </div>
    <div class="floating-box">
        <h2 class="boxHeader"><a href="https://aws.amazon.com">AWS</a></h2>
        <img class="logo" src="@Url.Content("~/images/awslogo.jpg")" alt="AWS Logo" />
    </div>
    <div class="floating-box">
        <h2 class="boxHeader"><a href="https://www.oracle.com">Oracle</a></h2>
        <img class="logo"src=" @Url.Content("~/images/oracle logo.png")" alt="Oracle Logo" />
    </div>
</div>

<div class="floating-container">
    <div class="floating-box">
        <h2 class="boxHeader"><a href="https://wphdigital.com/wph-service-excellence">DELIVERING SUCCESS & EXPERIENCE</a></h2>
        <h2 class="boxHeader"> DRIVING RESULTS</h2>
        <img class="logo" src="@Url.Content("~/images/WPHlogo.png")" alt="WPH Logo" />
    </div>
    <div class="floating-box">
        <h2 class="boxHeader"><a href="https://wphdigital.com/wph-service-focus">SERVICE DISCIPLINES </a></h2>
        <h2 class="boxHeader"> CAPABILITY AND CAPACITY </h2>
        <img class="logo" src="@Url.Content("~/images/WPHlogo.png")" alt="WPH Logo" />

    </div>
</div>