@model List<Capstone_toDoList.Models.TaskItem>
@{
    ViewData["Title"] = "Tasks Lists";
}
<!--NEED I ADD FUCNTIONALITIES NG MGA FILTERS-->
<h1 style="margin-bottom:0">Tasks List</h1>
<div class="task-lists-header">
    <div class="dropdown">
      <button class="dropbtn">Priority</button>
      <div class="dropdown-prio">
        <a href="#">Critical</a>
        <a href="#">High</a>
        <a href="#">Medium</a>
        <a href="#">Low</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Category</button>
      <div class="dropdown-category">
        <a href="#">School</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Due Date</button>
      <div class="dropdown-due">
        <a href="#">Near -> Far</a>
        <a href="#">Far -> Near</a>
      </div>
    </div>

    <button id="addTaskBtn">Add Task</button>
</div>
    

    <!-- POPUP FOR ADD HTML -->
<div id="addTaskModal"
     class="modal">
        <div class="modal-content">
            <span id="x-button" class="close">&times;</span>
            <form asp-action="AddTask" method="post">
                <label>Title:</label>
                <input type="text" name="Title" id="Title" required />

                <label>Description:</label>
                <textarea name="Description" id="Description"></textarea>

                <label for="category">Category:</label>
                <select name="category" id="category" required>
                  <option value="" disabled selected hidden>-- Select a category --</option>
                  <option value="School">School</option>
                  <option value="Household">Household</option>
                  <option value="Work">Work</option>
                  <option value="Hobby">Hobby</option>
                  <option value="Others">Others</option>
                </select>

                <label>Due Date:</label>
                <input type="date" name="DueDate" id="DueDate" required/>

                <label>Assigned To:</label>
                <input type="text" name="AssignedTo" />

                <div class="button-group">
                    <button type="submit" class="confirm">Save Task</button>
                    <button type="button" class="close">Cancel</button>
                </div>
            </form>
        </div>
 </div>



<!-- Task list display -->
<div class="task-container">
    @* Loop through tasks in the model *@
    @foreach (var task in Model)
     {
    <div class="task-card">
        <div class="task-card-header">
            <h3>@task.Title</h3>
                <h3>
                    @task.Id -
                    <span style="color:@(
                          task.Priority == "Critical" ? "red" :
                          task.Priority == "High" ? "orange" :
                          task.Priority == "Medium" ? "#FFD700" :  
                          "green" 
                )">
                    @task.Priority
                </span>
            </h3>
        </div>

         <p>@task.Description</p>
            <p><strong>Category: </strong>@task.Category</p>
            <p><strong>Date Started:</strong> @task.DateStarted.ToShortDateString()</p>
            <p><strong>Due:</strong> @task.DueDate.ToShortDateString()</p>
            <p><strong>Assigned to:</strong> @task.AssignedTo</p>
            <p><strong>Status: </strong>@(task.IsCompleted ? "Done ✅" : "Pending ⏳")</p>

         <!--CRUD//// dipa siya tapos wala pang backend--->
            <div class="CRUD-buttons">
                <!-- Completed button -->
                <form asp-action="CompleteTask" method="post">
                    <input type="hidden" name="taskId" value="@task.Id" />
                    <button type="submit" class="confirm">Completed</button>
                </form>

                <!-- Edit button -->
                <form asp-action="Edit" method="get">
                    <input type="hidden" name="id" value="@task.Id" />
                    <button type="submit" style="background-color:#1e1e2f;" id="editTask">Edit</button>
                </form>

                <!-- Delete button -->
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="taskId" value="@task.Id" />
                    <button type="submit" class="close">Delete</button>
                </form>
            </div>

             <!--POP UP FOR EDITING OF TASKS-->
            <div id="editTaskModal"
                 class="modal">
                <div class="modal-content">
                    <span id="x-button" class="close">&times;</span>
                    <form asp-action="UpdateTask" method="post">
                        <input type="hidden" name="Id" value="@task.Id" />

                        <label>Title:</label>
                        <input type="text" name="Title" value="@task.Title" required />

                        <label>Description:</label>
                        <textarea name="Description">@task.Description</textarea>

                        <label>Category:</label>
                        <select name="Category" required>
                            <option value="School" @(task.Category=="School" ? "selected":"")>School</option>
                            <option value="Work" @(task.Category=="Work" ? "selected":"")>Work</option>
                            <option value="Household" @(task.Category=="Household" ? "selected":"")>Household</option>
                            <option value="Hobby" @(task.Category=="Hobby" ? "selected":"")>Hobby</option>
                            <option value="Others" @(task.Category=="Others" ? "selected":"")>Others</option>
                        </select>

                        <label>Due Date:</label>
                        <input type="date" name="DueDate" value="@task.DueDate.ToString("yyyy-MM-dd")" required />

                        <label>Assigned To:</label>
                        <input type="text" name="AssignedTo" value="@task.AssignedTo" />


                        <div class="button-group">
                            <button type="submit">Update Task</button>
                            <button type="button" class="close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
     </div>}
</div>

@section Scripts {
    <script>
        @if (TempData["Error"] != null)
        {
             <text>
                alert("@TempData["Error"]");
             </text>
        }
    </script>
}


